<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>

    <h1>hello idiot</h1>
    <button class="btn btn-danger"> hello </button>
    
    {{!-- <script src="../node_modules/jquery/dist/jquery.js" type="='text/javascript"></script> --}}
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    {{!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.js" type="='text/javascript"></script> --}}

</body>
</html>